a:link {
  color:#00F625;
  font-weight: Purisa;
}
a:hover {
  color:#F87F0A;
}
a:visited {
  color: red;
}
h1 {
  font-family: Purisa;
  font-size: 30px;
  color:  #00F625;
}
html {
  background-image: url(roadTrip.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font: Purisa;
  font-weight: bolder;
  width: 100%;
 }
h1 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  font-style: oblique;
  font-weight: bold;
}
body {
  font-size: 20px;
  text-align: center;
}
p {
  font-style: oblique;
  font-weight: bolder;
  text-align: center;
  color: #F87F09;
  font-size: 25px;
}
section {
  border: dotted;
  width: 200px;
  background-color: white;
  color: #00F625;
  position: relative;left: 41.30%;
  padding: 10px;
  margin: 10px;
}
#forward_button {
  background-color: #00F625;
  height:40px; 
  width:120px;
  font-size: 20px;
  font-weight: bolder;
} 
div {
  height: 150px;
}
#checkgas {
  position: relative;right: 27px;
}
#checkfood {
  position: relative;right: 22px;
}
